The big issue that plauge alot of the project was simply getting the right use of python formating and making those playbooks work, This problem was very persistant up until
it was solved, once done the rest of the project was very simple as we were able to find the right documentation to proceed with the correct formating of the playbook files
